
	/* Main Launcher Page Wrapper & background */
.front-src-launcher-LauncherApp__wrapper--3qBGk{
	background-image:url(images/BG.png);
	background-size:cover;
	background-repeat:no-repeat;
	max-width:1280px
}

	/* Yellow Top Decoration */
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY{
	background-image:url(images/Top_deco.png);
	background-repeat:no-repeat;height:30px
}

.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-buttonGroup--2VPGi{
		float:right;
		margin-right:11px;
		margin-top:7px
}
	
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-buttonGroup--2VPGi button{
		width:17px;
		height:17px;
		background-repeat:no-repeat;
		background-position:center;
		margin-left:10px;
		opacity:0.7
}

.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-buttonGroup--2VPGi button:hover{
		opacity:1
}

.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-buttonGroup--2VPGi 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-minimize--305-R{
		background-image:url(images/btn_window_minimize.png)
}

.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator--oOsYY 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-buttonGroup--2VPGi 
.front-src-components-Launcher-TopNavigator-TopNavigator__TopNavigator-close--f32Ho{
		background-image:url(images/btn_window_close.png)
}

/* Modal */

.front-src-components-Launcher-Modal-Modal__Setting--1-wvm{
	height:500px;
	width:500px;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%)
}

.front-src-components-Launcher-Modal-Modal__Notice--2xKQv{
		min-height:160px;
		width:320px;
		float:right;
		margin:99px 120px 0 0
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg{
		position:relative;
		background-color:#000000;
		border:1px solid #F2A900;
		z-index:100;
		overflow-x:hidden
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg:focus{
		outline:none
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-header--25f3Z{
		border-bottom:1px solid rgba(242,169,0,0.3);
		height:45px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-header--25f3Z h2{
		font-size:20px;
		font-weight:normal;
		color:#F2A900;
		padding:11px 0 0 20px;
		float:left
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-header--25f3Z button{
		padding:14px 16px 0 0;
		-webkit-box-sizing:content-box;
		box-sizing:content-box;
		cursor:pointer;
		float:right;
		color:rgba(242,169,0,0.6)
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-header--25f3Z button:hover{
		color:#f2a900
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR{
		max-height:305px;
		overflow-y:auto;
		overflow-x:hidden;
		width:313px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY{
		width:318px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX{
		min-height:75px;
		border-bottom:1px solid rgba(255,178,0,0.4);
		display:inline-block
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX 
.front-src-components-Launcher-Modal-Modal__NoticeContent-msg--HR7Vd{
		max-width:254px;
		margin:17px 0 0 19px;
		float:left;
		color:#777
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX 
.front-src-components-Launcher-Modal-Modal__NoticeContent-deleteBtn--3Qmkd{
			float:right;
			padding:10px 20px 0 0;
			width:17px;
			height:17px;
			-webkit-box-sizing:content-box;
			box-sizing:content-box;
			cursor:pointer;
			background-position:center;
			background-image:url(images/btn_window_close.png);
			opacity:0.5
}.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX 
.front-src-components-Launcher-Modal-Modal__NoticeContent-datetime--1jJVU{
			width:100%;
			float:left;
			color:#8f6400;
			margin:0 0 14px 19px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX:hover{
			background-color:#291c00
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX:hover 
.front-src-components-Launcher-Modal-Modal__NoticeContent-msg--HR7Vd{
			color:#dddddd
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR 
.front-src-components-Launcher-Modal-Modal__NoticeContent-wrapper--f_XtY 
.front-src-components-Launcher-Modal-Modal__NoticeContent--3GlHX:hover 
.front-src-components-Launcher-Modal-Modal__NoticeContent-deleteBtn--3Qmkd{
			opacity:1
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR::-webkit-scrollbar{
			width:5px
}.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-content--3V0OR::-webkit-scrollbar-thumb{
			width:5px;
			background:rgba(242,169,0,0.6);
			border-radius:2.5px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-menu--1n8Nb{
			margin:18.5px 0 0 25px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-menu--1n8Nb h3{
		font-size:20px;
		font-weight:normal;
		color:rgba(255,255,255,0.5);
		cursor:pointer
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-menu--1n8Nb 
.front-src-components-Launcher-Modal-Modal__Modal-body-menu-selected--3EP4M{
	color:#ffffff
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-menu--1n8Nb h3 ~ h3{
	margin-top:23px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN{
	position:absolute;
	margin-left:168px;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	width:fit-content;
	height:-webkit-fit-content;
	height:-moz-fit-content;
	height:fit-content;
	padding-top:18.5px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN h4{
	font-size:20px;
	font-weight:normal;
	color:#ffffff
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN h4 ~ p{
	margin-top:5px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN p{
	font-size:18px;
	color:#F2A900
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN p ~ 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX{
	margin-top:10px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX{
	display:inline-block;
	position:relative;
	cursor:pointer;
	font-size:18px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding-left:25px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX:hover input ~ 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-mark--3ptuJ{
	background-color:#ccc
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX input{
	position:absolute;
	opacity:0;
	cursor:pointer;
	height:0;
	width:0
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX input:checked ~ 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-mark--3ptuJ:after{
	display:block
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-mark--3ptuJ{
	position:absolute;
	top:0;
	left:0;
	height:17px;
	width:17px;
	background-color:#707070
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-mark--3ptuJ:after{
	content:"";
	position:absolute;
	display:none;
	top:4px;
	left:5px;
	width:4px;
	height:6px;
	border:solid #F2A900;
	border-width:0 2px 2px 0;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX ~ 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX{
	margin-left:10px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN 
.front-src-components-Launcher-Modal-Modal__Modal-body-content-checkbox-container--1uThX ~ button{
	margin-top:18px
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__Modal-body--1HoUH 
.front-src-components-Launcher-Modal-Modal__Modal-body-content--1HaTN button{
	font-size:18px;
	display:block;
	background-color:#666666;
	color:#000000
}

.front-src-components-Launcher-Modal-Modal__Modal--1AcJg 
.front-src-components-Launcher-Modal-Modal__VersionInfo--3GEFg{
	top:100%;
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
	position:absolute;
	padding:0 0 15px 25px;
	color:#666666
}

.front-src-components-Launcher-Modal-Modal__ModalOverlay--2ie3q{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,0.6)
}

/* ========== Top Bar Code Begin ======== */

.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n{
	height:70px;
	width:100%;
	padding:10px 35px
}

.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__logo--1GX0s{
	color:white;
	display:inline-block
}

/* PUBG LITE Logo  */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__logo--1GX0s::before{
	content:'';
	width:100px;
	height:80px;
	display:block;
	background-image:url(images/logo.png);background-size:cover
}
	/* Under Logo Light Bar */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__logo--1GX0s::after{
	content:'';
	width:100px;
	height:4px;
	display:block;
	background-color:white;
	margin-top:15px;
	-webkit-box-shadow:0px 0px 10px red;
	box-shadow:0px 0px 10px red
}

.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw{
	float:right;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}

.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw button{
	border:none;
	background-size:cover;
	border-radius:20px;
	width:40px;
	height:40px;
	margin-left:10px
}
	/* Settings Button Icon  */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw 
.front-src-components-Launcher-TopBar-TopBar__TopBar-settingBtn--3VxD6{
	background-image:url(images/btn_settings.png);
}
	/* Notice Button Icon */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw 
.front-src-components-Launcher-TopBar-TopBar__TopBar-noticeBtn--3nTpw{
	background-image:url(images/btn_notice.png);
}

	/* Profile Icon */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw 
.front-src-components-Launcher-TopBar-TopBar__TopBar-profileImg--WPWAm{
	background-image:url(images/profile_icon.png);
	background-size:cover;
	width:40px;
	height:40px;
	display:inline-block;
	margin-right:4px
}
	/* Profile TopBar Position */
.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw 
.front-src-components-Launcher-TopBar-TopBar__TopBar-profile--1m4RQ{
	display:inline-block;
	color:#F1A900;
	font-size:18px;
	margin-right:9px
}

.front-src-components-Launcher-TopBar-TopBar__TopBar--3SU9n 
.front-src-components-Launcher-TopBar-TopBar__TopBar-buttonGroup--10sAw 
.front-src-components-Launcher-TopBar-TopBar__TopBar-selector--3VwDf{
	margin-left:10px
}

.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ{
	position:relative;
	display:inline-block;
	color:#F1A900
}.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ

.front-src-components-Launcher-TopBar-Selector__show-list--1OK9U 
.front-src-components-Launcher-TopBar-Selector__selector-selected-value--3vynu{
	border-bottom:none;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ
.front-src-components-Launcher-TopBar-Selector__show-list--1OK9U 
.front-src-components-Launcher-TopBar-Selector__selector-selected-value--3vynu::after{
	-webkit-transform:translateY(-50%) rotate(180deg);
	transform:translateY(-50%) rotate(180deg)
}
	/* Show List */
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ
.front-src-components-Launcher-TopBar-Selector__show-list--1OK9U ul{
	display:block;
	border-top:0;
	border-top-left-radius:0;
	border-top-right-radius:0;
	z-index:100;
}

.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ 
.front-src-components-Launcher-TopBar-Selector__selector-selected-value--3vynu,
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ ul{
	width:124px;
	border:1px solid #493300;
	border-radius:2px
}

.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ 
.front-src-components-Launcher-TopBar-Selector__selector-selected-value--3vynu,
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ ul>li{
	padding-left:10px;
	height:40px;
	font-size:18px;
	line-height:40px;
	background-color:#000000;
	cursor:pointer
}

.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ 
.front-src-components-Launcher-TopBar-Selector__selector-selected-value--3vynu::after{
	content:'';
	position:absolute;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	top:50%;
	right:8px;
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #F2A900;
	-webkit-transition:-webkit-transform 0.15s ease-in-out;
	transition:-webkit-transform 0.15s ease-in-out;
	transition:transform 0.15s ease-in-out;
	transition:transform 0.15s ease-in-out, 
		-webkit-transform 0.15s ease-in-out
}

	
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ ul{
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	-webkit-transform:translateY(100%);
	transform:translateY(100%)
}
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ ul li:hover{
	background-color:#493300
}
.front-src-components-Launcher-TopBar-Selector__TopBar-selector--3CyvQ option:hover{
	-webkit-box-shadow:0 0 10px 100px #000 inset;
	box-shadow:0 0 10px 100px #000 inset
}


.front-src-components-Launcher-TopBar-Selector__setting-modal--njfLK{
	background-color:#000000;
	border:1px solid #F2A900;
	height:40px;
	width:100px;
	top:50%;
	left:50%;
	right:auto; 
	bottom:auto;
	margin-right:-50%;
	margin-left:1.5%;
	-webkit-transform:translate(-50%, -50%); 
	transform:translate(-50%, -50%)
}

/* ========= Rolling Banner code =========== */

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q{
	height:475px;
	width:100%;
	margin:0 35px;
	position:relative
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-borderGradation--1_4KI{
	width:1210px;
	height:1px;
	margin-top:2px;
	background:-webkit-gradient(linear, 
								left top, 
								right top, 
								from(rgba(73,51,0,0)), 
								color-stop(rgba(241,169,0,0.8)), 
								to(rgba(73,51,0,0)));
	background:linear-gradient(to right, 
								rgba(73,51,0,0), 
								rgba(241,169,0,0.8), 
								rgba(73,51,0,0));
	margin-bottom:1px
}
	/* Top Deco Rolling Banner Yellow Lines */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-topDeco--rAix6{
	background-image:url(images/Rolling_top_BG.png);
	height:185px;
	width:100%;
	position:absolute;
	top:0;
}

	/* banner Resolution  */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF{ /* banner Resolution  */
	position:relative;
	margin-top:25px;
	width:1210px;
	height:375px;
	overflow:hidden
}

	/* smooth transition */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-trans--34D3z{ /* smooth transition */
	-webkit-transition:-webkit-transform 0.3s;
	transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	transition:transform 0.3s, -webkit-transform 0.3s;

}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-trans--34D3z  /* smooth transition */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banner-wrapper--o6Pav{
	position:absolute;
	cursor:pointer
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-trans--34D3z /* smooth transition */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banner-wrapper--o6Pav 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banner--1G1Ja{
	width:1210px;
	height:375px;
}

 /* Show Arrows when hovering the cursor */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF:hover 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-prev-wrapper--3SGYQ,
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-banners--3twIF:hover 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-next-wrapper--2ZulU{
	display:block
}

 /* Prev Arrow */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-prev-wrapper--3SGYQ{
	top:153px;
	left:20px;
	width:70px;
	height:70px;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	border-radius:35px;
	-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.4);
	box-shadow:0px 5px 10px rgba(0,0,0,0.4);
	padding:25px;
	display:none;
	cursor:pointer
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-prev-wrapper--3SGYQ 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-prev--1jRmC{
	width:20px;
	height:20px;
	border-top:4px solid #f2a900;
	border-left:4px solid #f2a900;
	-webkit-transform:rotateZ(-45deg);
	transform:rotateZ(-45deg);
	margin-left:4px
}

 /* Next Arrow */
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-next-wrapper--2ZulU{
	top:153px;
	right:20px;
	width:70px;
	height:70px;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	border-radius:35px;
	-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.4);
	box-shadow:0px 5px 10px rgba(0,0,0,0.4);
	padding:25px;
	display:none;
	cursor:pointer
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-next-wrapper--2ZulU 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-next--3wzjF{
	width:20px;
	height:20px;
	border-bottom:4px solid #f2a900;
	border-right:4px solid #f2a900;
	-webkit-transform:rotateZ(-45deg);
	transform:rotateZ(-45deg);
	margin-left:-4px
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-thumnails--jkKgY{
	height:60px;
	margin-top:10px;
	text-align:center;
	cursor:pointer
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-thumnails--jkKgY 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-thumnail-wrapper--l2CMw{
	height:60px;
	width:170px;
	display:inline-block;
	margin-right:10px;
}

.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner--oB76Q 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-thumnails--jkKgY 
.front-src-components-Launcher-RollingBanner-RollingBanner__RollingBanner-thumnail-wrapper--l2CMw:last-child{
	margin-right:0
}

/* ========= Game Indicator Code ============= */

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe{
	height:150px;
	width:100%;
	margin-top:30px;
	padding:0 35px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-MainbtnWrapper--17Rhr{
	float:left
}

	/* Orange Main Button */
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-MainbtnWrapper--17Rhr 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-Mainbtn--2bAlq{
	height:130px;
	background-color:#ec4b0c;
	width:390px;
	font-size:55px;
	font-weight:700;
	border:1px solid rgba(249,219,54,0.4)
}
	/* Main Button Hover Effect  */
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-MainbtnWrapper--17Rhr 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-Mainbtn--2bAlq:hover{
	border:5px solid rgba(249,219,54,0.4)
}
	/* Indicator Info */
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7{
	border:1px solid rgba(137,113,11,0.4);
	float:right;
	width:calc(100% - 400px);
	height:130px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M{
	float:left;
	width:auto;
	font-weight:500;
	font-size:24px;
	height:100%
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-message--3C8Kk{
	color:#999999;
	font-weight:300;
	margin-left:30px;
	overflow-wrap:break-word;
	max-width:550px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	height:100%;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	max-height:128px;
	word-break:break-all
}
	/* Message Inside Indicator Info */
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-message--3C8Kk span{
	max-height:110px;
	overflow:hidden
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-repair--kdETI{
	margin-top:34px;
	margin-left:20px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-repair--kdETI 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-repair-btn--1ZSaF{
	width:140px;
	height:32px;
	background-color:#666666;
	border:1px solid #777777;
	font-size:19px;
	font-weight:500
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-repair--kdETI 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-repair-btn--1ZSaF:hover{
	border-color:#aaaaaa;
	background-color:#cccccc
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK{
	height:70px;
	padding-left:20px;
	padding-top:20px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK span{
	margin-right:20px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK span:last-child{
	margin-right:0
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text-percent--14k4H{
	color:#f1a900;
	font-size:50px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text-ratio--3FMzZ{
	color:#fff
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text-currentFile--NzjgO{
	color:#777777
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text--1zkUK 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text-currentFile--NzjgO 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-text-currentFile-ellipsis--1wg1N{
	vertical-align:middle;
	text-overflow:ellipsis;
	max-width:240px;
	display:inline-block;
	height:27px;
	overflow:hidden
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-guideText--bHg0b{
	height:70px;
	padding-left:30px;
	padding-top:27px;
	color:#999999;
	font-weight:400
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar1--2Iz7I{
	margin:15px 0px 9px 10px;
	height:20px;
	width:591px;
	background-image:url("http://web.archive.org/web/20210420082818im_/https://dbczev3e67hql.cloudfront.net/403/images/7a1ec5b2e83e868a776bb45e5266a8a0-Mask bar.png");
	background-repeat:repeat-x;
	overflow:hidden
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar1--2Iz7I 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar1-filled--2Oqaj{
	background-color:rgba(0,0,0,0.8);
	height:20px;
	float:right
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar2--2mIjS{
	margin-left:10px;
	height:5px;
	width:591px;
	overflow:hidden;
	display:-webkit-box;
	display:-ms-flexbox;display:flex
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar2--2mIjS 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar2-filled--7zjUf{
	width:0%;
	height:5px;
	border-top:1px solid #707070;
	background-color:#EC4B0C
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-content--2Di4M 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar2--2mIjS 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-progress-bar2-remain--1BtpK{
	background-color:#1F1E1E;
	width:100%;
	height:5px
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8{
	float:right;
	font-size:16px;
	font-weight:500;
	height:100%;
	width:187px;
	border-left:1px solid rgba(137,113,11,0.4);
	cursor:pointer
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 span{
	vertical-align:middle
}
	/* Yellow Line Official Site */
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite--2kjps{
	width:100%;
	height:42px;
	border-bottom:1px solid rgba(137,113,11,0.4);
	padding:12px 0;
	color:rgba(255,255,255,0.5)
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite--2kjps:hover{
	color:#fff
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite--2kjps:hover 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite-icon--3qhNv{
	opacity:1
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite--2kjps 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-officialSite-icon--3qhNv{
	width:18px;
	height:18px;
	background-image:url(images/o_logo.png);
	background-size:cover;
	background-repeat:no-repeat;
	margin-left:22px;
	margin-right:15px;
	display:inline-block;
	opacity:0.5;
	vertical-align:middle
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube--1P-RQ{
	width:100%;
	height:42px;
	border-bottom:1px solid rgba(137,113,11,0.4);
	padding:12px 0;
	color:rgba(255,255,255,0.5)
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube--1P-RQ:hover{
	color:#fff
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube--1P-RQ:hover 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube-icon--aM6DW{
	opacity:1
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube--1P-RQ 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-youtube-icon--aM6DW{
	width:22px;
	height:18px;
	background-image:url(images/Y_logo.png);
	background-size:cover;
	background-repeat:no-repeat;
	margin-left:22px;
	margin-right:11px;
	display:inline-block;
	opacity:0.5;
	vertical-align:middle
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook--1jMrg{
	width:100%;
	height:42px;
	padding:12px 0;
	color:rgba(255,255,255,0.5)
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook--1jMrg:hover{
	color:#fff
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook--1jMrg:hover 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook-icon--3fxCl{
	opacity:1
}

.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator--2zQKe 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-contentWrapper--1XxU7 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-siteWrapper--gfhG8 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook--1jMrg 
.front-src-components-Launcher-GameIndicator-GameIndicator__GameIndicator-facebook-icon--3fxCl{
	width:18px;
	height:18px;
	background-image:url(images/f_logo.png);
	background-size:cover;
	background-repeat:no-repeat;
	margin-left:22px;
	margin-right:15px;
	display:inline-block;
	opacity:0.5;
	vertical-align:middle
}

	/* for Copyright String */
.front-src-components-Launcher-CopyRight-CopyRight__CopyRight--mUCbK{
	color:#555;
	font-size:14px;
	height:14px;
	margin-top:17px;
	margin-left:35px
}
	/* ?? */
.front-src-components-Launcher-Etc-Toast__Toast--1aYqf{
	position:absolute;
	top:110px;
	right:35px;
	float:right;
	padding:3px 5px;
	background-color:white;
	color:red
}

body,#app{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	background-color:#000;
	font-family:'Teko', 'Oswald', sans-serif;
	color:#fff;
	line-height:1.2;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden
}

body,h1,h2,h3,h4,p,ul{
	display:block;
	-webkit-margin-before:0;
	margin-block-start:0;
	-webkit-margin-after:0;
	margin-block-end:0;
	-webkit-margin-start:0px;
	margin-inline-start:0px;
	-webkit-margin-end:0px;
	margin-inline-end:0px;padding:0
}

ul,ol{
	list-style:none
}

button{
	padding:0;
	background-color:rgba(0,0,0,0);
	border:none;
	cursor:pointer;
	outline:none;
	background-repeat:no-repeat
}

div,button,input,textarea,select,p{
	background-repeat:no-repeat;
	font-family:'Teko', 'Oswald', sans-serif
}

*{
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}


/*
     FILE ARCHIVED ON 08:28:18 Apr 20, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:57:02 Sep 21, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.483
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.012
  esindex: 0.008
  cdx.remote: 11.153
  LoadShardBlock: 81.7 (3)
  PetaboxLoader3.datanode: 82.106 (4)
  load_resource: 84.276
  PetaboxLoader3.resolve: 35.023
*/